<h1>New Jar</h1>

<%= simple_form_for(@jar) do |f| %>

  <%= f.input :contents %>
  <%= f.input :quantity %>
  <%= f.collection_select(:player_id, Player.all, :id, :name) %>
  <%= f.button :submit %>

<% end %>
