<h1>New Jar</h1>

<%= form_for(@jar) do |f| %>
  <% if @jar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jar.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% @jar.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contents %><br>
    <%= f.text_field :contents %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :counted_by %><br>
    <%= f.collection_select(:player_id, Player.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', jars_path %>
