<h1><%= @group.title %></h1>

<% if @group.jars.present? %>
  <input id='winner' type='button' value="Calculate Winners">
  <p id='winner_name'><%=  @group.display_winners %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= link_to 'Add Jar', new_group_jar_path(@group) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jars.each do |jar| %>
      <tr id=<%= "jar_#{jar.id}" %>>
        <td><%= jar.contents %></td>
        <td><%= link_to 'Enter Guess', new_group_guess_path(@group) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<table>
  <thead>
    <tr>
      <th><%= link_to 'Add Player', new_group_player_path(@group) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr id=<%= "player_#{player.id}" %>>
        <td><%= player.name %></td>
        <td><%= link_to 'Show', group_player_path(player.group, player) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
