<div class="row">
  <div class="small-6 small-centered columns">
    <h1><%= @game.title %></h1>

    <% if @game.jars.present? %>
      <input id='winner' type='button' value="Calculate Winners">
      <div class="hidden" id='winner_name'>
        <h3>Winners:</h3>
        <% @game.display_winners.each do |key, value| %>
          <%= "#{key}: #{value}" %><br />
        <% end %>
      </div>
      <hr>
      <div id='chart_kick' class='hidden'>
        <% @game.jars.each do |jar| %>
          <%= "#{jar.contents}: #{jar.quantity}" %>
          <%= column_chart Guess.where(jar_id: jar.id).group(:quantity).maximum(:quantity) %>
          <hr>
        <% end %>
      </div>
    <% end %>

    <table>
      <thead>
        <tr>
          <th><%= link_to 'Add Jar', new_game_jar_path(@game) %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @jars.each do |jar| %>
          <tr id=<%= "jar_#{jar.id}" %>>
            <td><%= jar.contents %></td>
            <td><%= link_to 'Enter Guess', new_game_guess_path(@game) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>


    <table>
      <thead>
        <tr>
          <th><%= link_to 'Add Player', new_game_player_path(@game) %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @players.each do |player| %>
          <tr id=<%= "player_#{player.id}" %>>
            <td><%= player.name %></td>
            <td><%= link_to 'Show', game_player_path(player.game, player) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
