<div class="row">
  <div class="small-6 small-centered columns">
    <h1><%= @game.title %></h1>

    <% if @game.jars.present? %>
      <input id='winner' type='button' value="Calculate Winners">
      <p class="hidden" id='winner_name'><%=  @game.display_winners %></p>
    <% end %>

    <table>
      <thead>
        <tr>
          <th><%= link_to 'Add Jar', new_game_jar_path(@game) %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @jars.each do |jar| %>
          <tr id=<%= "jar_#{jar.id}" %>>
            <td><%= jar.contents %></td>
            <td><%= link_to 'Enter Guess', new_game_guess_path(@game) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>


    <table>
      <thead>
        <tr>
          <th><%= link_to 'Add Player', new_game_player_path(@game) %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @players.each do |player| %>
          <tr id=<%= "player_#{player.id}" %>>
            <td><%= player.name %></td>
            <td><%= link_to 'Show', game_player_path(player.game, player) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
